@font-face {
    font-family: 'Raleway';
    /*a name to be used later*/
    src: url('/site/resources/fonts/Raleway.ttf');
    /*URL to font*/
}

h1 {
    text-align: center;
    font-family: Raleway;
    font-weight: 100;
    font-size: 180px;
    padding: 50px 50px 50px 50px;
}

a {
    color: #697A99;
}

h3 {
    text-align: center;
    padding: 10px 10px 1px 10px;
}

h5 {
    text-align: center;
}

p {
    text-align: justify;
    text-align-last: center;
    font-size: 18px;
    padding-right: 140px;
    padding-left: 140px;
}

.block {
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
}

.section {
    padding: 10px 0px;
}
